@import "../../../assets/colors";
@import "../../../assets/fonts";

.button {
  position: relative;
  min-width: 240px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;


  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 24px;

  font-family: $font-family-semibold;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;

  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;

  cursor: pointer;
  user-select: none;
  user-modify: none;
}




.buttonWhite {
  background: $color_white;
  border: 2px solid $color_purple;
  color: $color_blue;

  &:hover {
    background: $color_blue;
    border-color: $color_blue;
    color: $color_white;
    transition: 0.5s;
  }
}


.shadowRose {
  box-shadow: 0 4px 16px rgba(228, 33, 127, 0.8);
  z-index: 2;
}

.buttonRose {
  background: $color_rose;
  color: $color_white;

  &:hover {
     background: $color_rose_light;

    .shadowRose {
      box-shadow: 0 4px 24px rgba(244, 65, 151, 0.8);
      transition: 0.5s;
    }
  }
}


.shadowBlue {
  box-shadow: 0 4px 16px rgba(107, 71, 250, 0.8);
}

.buttonBlue {
  background: $color_blue;
  color: $color_white;

  &:hover {
    background: $color_blue_light;
    transition: 0.5s;

    .shadowBlue {
      box-shadow: 0 4px 24px rgba(133, 102, 255, 0.8);
      transition: 0.5s;
    }
  }
}

.buttonBlueDisable {
  background: $color_blue_disable;
  color: $color_white;

}

.shadowPurple {
  box-shadow: 0 4px 16px rgba(167, 52, 188, 0.8);
}

.buttonPurple {
  background: $color_purple_button;
  color: $color_white;

  &:hover {
    background: $color_purple_button_light;
    transition: 0.5s;

    .shadowPurple {
      box-shadow: 0 4px 24px rgba(187, 81, 206, 0.8);
      transition: 0.5s;
    }
  }
}

.shadow {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 0;

  background: transparent;
  border-radius: 8px;
  z-index: 2;
}


.buttonPhone {
  user-select: auto;
  text-decoration: none;
  background: $color_white;
  border: 2px solid $color_purple;
  color: $color_blue;

  font-size: 18px;

  padding: 16px 24px 16px 50px;
  background:  $color_white url("../../../assets/media/phone.svg") 20px center no-repeat;
  background-size: 18px 18px;

  &:hover {
    background: $color_blue url("../../../assets/media/phone_white.svg") 20px center no-repeat;
    background-size: 18px 18px;
    border-color: $color_blue;
    color: $color_white;
    transition: 0.5s;
  }
}


.buttonCircleRight {
  width: 48px;
  height: 48px;

  box-sizing: border-box;
  background: $color_white url("../../../assets/media/arrow-right.svg") no-repeat center center;

  border: 2px solid $color_purple;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  cursor: pointer;
  &:hover {
    background: $color_blue url("../../../assets/media/arrow_right_hover.svg") no-repeat center center;
    border: 2px solid $color_blue;
    transition: 0.5s;
  }
}

.buttonCircleLeft {
  @extend .buttonCircleRight;

  background: $color_white url("../../../assets/media/arrow-left.svg") no-repeat center center;

  &:hover {
    background: $color_blue url("../../../assets/media/arrow_left_hover.svg") no-repeat center center;
    border: 2px solid $color_blue;
    transition: 0.5s;
  }
}

.link {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}