$color_background: #F8F7FF;

$color_white: #FFFFFF;

$color_purple: #CFC2FF;

$color_blue: #6B47FA;
$color_blue_light: #8566FF;
$color_blue_disable: #CFC2FF;

$color_rose:  #E4217F;
$color_rose_light:   #F44197;

$color_purple_button: #A734BC;
$color_purple_button_light: #BB51CE;


$color_firm_blue: #0E0047;

$color_grey: #827A9F;
$background_alert: rgba(7, 17, 69, 0.6);




