$font-family: 'Raleway Regular';
$font-family-regular: 'Raleway Regular';
$font-family-semibold: 'Raleway Semibold';
$font-family-bold: 'Raleway Bold';
$font-family-medium: 'Raleway Medium';
$font-family-extrabold: 'Raleway Extra Bold';